@font-face {
    font-family:Bartex;
    src: url(Bartex-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
 color: white;
 text-align: center;
 font-family: Bartex;
    
}
.btn {
    font-size: 35px;
    padding: 10px 15px;
    border: none;
    background: white;   
    font-family: inherit;
    color: rgb(2, 204, 204);
    
}
span {
    border-bottom: 5px white solid;
    
}
.text1 {
    background-image: url(https://media0.giphy.com/media/xT9IgusfDcqpPFzjdS/200w.webp?cid=ecf05e473t8sv53xob6l7yplnw039wae4qbp0byftvhcoph3&ep=v1_gifs_search&rid=200w.webp&ct=g);
    background-size: cover;
    padding: 580px;
    padding-top: 100px;
    color: rgb(89, 232, 232);
}
img {
    width: 100px;
}
.text2 h1 {
    color: rgb(31, 169, 255);
    padding-top: 20px;
}
.text1 img {
    padding-bottom: 35px;
}
.text1 h1 {
    padding-bottom: 19px;
}